*{
    box-sizing: border-box;
}

body{
    margin: 0;
    /* background-color: black; */
    /* color: white; */
}

.container{
    width: 60%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.container--main{
    display: flex;
}

.main--cards{
    border: 2px solid goldenrod;
    border-radius: 15px;
    width: 80%;
    align-content: center;
    /* padding: 2px; */
}

.main--cards__header{
    margin: 10px;
    padding: 3px 2px;
    text-align: center;
}

.list--cards{
    list-style: none;
    margin: 0;
    padding: 0;
}

.list--cards__card{
    display: inline-block;
    width: 25%;
    /* margin: 5px; */
    padding: 0 12px;
}

.link--card{
    display: block;
    margin: 0;
    padding: 0;
    /* width:  */
}

.link--card--img{
    margin: 0;
    padding: 0;
    display: block;
    max-width: 100%;
    opacity: 0.8;
}

.link--card--img:hover{
    opacity: 1;
}

.side--deck{
    border: 2px solid burlywood;
    border-radius: 15px;
    margin:  0 6px;
    padding: 3px;
    width:20%;
}

.list--deck{
    list-style: none;
    /* margin: auto; */
    /* padding: 0; */
    /* display: flex; */
    /* justify-content: space-between; */
}

.list--deck__card--cost{
    width: 10%;
    flex-wrap: wrap;
}

.list--deck__card--name{
    width: 80%;
    flex-wrap: wrap;
}

.list--deck__card--count{
    width: 10%;
    flex-wrap: wrap;
}
