*{
    box-sizing: border-box;
}

body{
    margin: 0;
    /* background-color: black; */
    /* color: white; */
}

.container{
    width: 60%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.container--main{
    border: 2px solid goldenrod;
    border-radius: 15px;
    /* padding: 2px */
}

.container--main__header{
    margin: 10px;
    padding: 3px 2px;
    text-align: center;
}

.list--classes{
    list-style: none;
    margin: 0 22%; 
    /* margin: 0; */
    padding: 0;
}

.list--classes__li{
    display: inline-block;
    width: 33%;
}

.link--class{
    margin: 0;
    padding: 0;
    padding-bottom: 125%;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-size: cover;
    -webkit-filter: grayscale(50%);
	filter: grayscale(50%);
	/* -webkit-transition: .3s ease-in-out; */
	/* transition: .3s ease-in-out; */

}

/* .link--class__img{
    margin: 0;
    padding: 0;
    max-width: 100%;
    opacity: 0.8;
} */

.link--class:hover{
    -webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}